<div class="col-sm-3" style="margin-top:10px; margin-bottom:10px;">
    <div id="post-{{id}}" class="card">
        <img class="card-img-top" src="{{thumbnail}}" alt="Missing image">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
        </div>

        <div class="card-body">
            <a href="/post/{{id}}" class="btn btn-primary">Post Details</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>